<h1>Cursos Propuestos:</h1>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button [routerLink]="['/cecy/forms']" type="button" label="Nuevo curso" pButton icon="pi pi-plus-circle" iconPos="right"></button>
        </ng-template>
    </p-toolbar>
    <h5>listado de Cursos</h5>
    <p-table [value]="lista_cursos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Visualizando registro {first} al {last} de {totalRecords} cursos" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Fecha de Creación</th>
                <!-- <th>Código</th> -->
                <th>Estado</th>
                <th>Opciones</th>
                <!-- <th>Docente</th> -->
                <!--<th>Duración</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr>
                <td>{{ curso.name }}</td>
                <td>{{ curso.created_at }}</td>
                <!-- <td>{{ curso.cost }}</td>  -->
                <td>{{ curso.code}}</td>
                <!--<td>{{ curso.username }}</td> -->
                <td>
                    <button type="button" pButton label="Editar"></button>                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

</div>

